.news-list > div {
  min-width: 200px;
  flex-grow: 2;
  flex-shrink: 3;
}

.news-list p {
  -webkit-line-clamp: 6;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.tags {
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 5px;
}

.tags span {
  font-size: 15px;
}

.post-data {
  text-align: start;
}

.post-data .author {
  color: grey;
}

.MuiCardContent-root {
  height: calc(100% - 140px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.MuiButtonBase-root {
  height: 100%;
}

@media (max-width: 700px) {
  .news-list > div {
    width: 100%;
    min-width: 150px;
  }

  .news-list button div div {
    font-size: 18px;
  }

  .news-list button div p {
    font-size: 12px;
  }

  .tags span{
    font-size: 12px;
    line-height: 15px;
  }

  .post-data .author {
    font-size: 12px;
    line-height: 15px;
  }
}